
.icon-down:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */